In [1]:
import pandas as pd
import numpy as np
import sklearn

In [5]:
data=pd.read_excel("TamilNaduRainfall-edited.xlsx")

IndexError: list index out of range