In [77]:
import pandas as pd
data=pd.read_csv("crop data.csv")
print(data)
data["dis"].value_counts()
d={"Nagpur":"Madurai","Ratnagiri":"Salem","Nanded":"Coimbatore","Pune":"Dindigul","Akola":"Theni" }
data["dis"]=data["dis"].map(d)
data["dis"].to_csv("district1.csv",index=None,header=True)
data1=pd.read_csv("district1.csv")
data1
final=pd.concat([data,data1])
data.to_csv("final_crop data.csv",index=None,header=True)

      Starting month  Cultivation Time  Min-Temp   Max-Temp   \
0                  6                 3         24         28
1                  6                 3         25         26
2                  6                 3         26         31
3                  6                 3         24         26
4                  6                 3         23         27
...              ...               ...        ...        ...
1147               6                 4         25         31
1148               6                 4         23         30
1149               6                 4         24         29
1150               6                 4         22         28
1151               6                 4         25         32

      Rainfall Requirement  Humidity       Crops  Irrigation        dis  Soil  \
0                      956          69      Rice           0  Ratnagiri     1
1                     1200          85      Rice           0  Ratnagiri     1
2                     1540          82      Rice           0  Ratnagiri     3
3                     1345          79      Rice           0  Ratnagiri     3
4                     1111          67      Rice           0  Ratnagiri     3
...                    ...         ...       ...         ...        ...   ...
1147                   774          75  Soyabean           1     Nagpur     2
1148                  1065          71  Soyabean           1     Nagpur     2
1149                  1179          66  Soyabean           1     Nagpur     2
1150                  1245          57  Soyabean           1     Nagpur     2
1151                   999          66  Soyabean           1     Nagpur     2

        area  production
0      1254.0       2000
1         2.0          1
2       102.0        321
3       176.0        641
4       720.0        165
...       ...        ...
1147     82.0         25
1148    304.0       6772
1149   1776.0       2366
1150  62049.0     170573
1151    442.0        214

[1152 rows x 12 columns]

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [83]:
a=(1,2,3)
a[0]=2

TypeError: 'tuple' object does not support item assignment